<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

  <title>Admin</title>
</head>

<body>
<nav class="navbar navbar-dark bg-dark">
  <h5>
    <a class="navbar-text text-white font-bold" th:text="${admin.email}">Email</a>
   <!-- <a class="navbar-text text-white" th:text=" ' with roles : ' + ${admin.roles}">Roles</a> -->
    <th:block th:object="${admin}">
      <a class="text-white font-bold"  text="with roles :">with roles:</a>
      <a class="text-white font-bold"  th:each="item : *{roles}" th:text="${item.getNoPrefix()} + '  '">Item description here...</a>
    </th:block>
  </h5>

  <form th:action="@{/logout}" method="post">
    <button class="btn btn-link btn-xs">
      <p class="text-muted">Logout</p>
    </button>
  </form>
</nav>

<br>

<div class="container-fluid">
  <div class="row">

    <div class="col-md-2">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="/admin/">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user">User</a>
        </li>
      </ul>
    </div>

    <div class="col-md-10">
      <h3 class="card-title">Admin panel</h3>
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item active" role="presentation">
          <a class="nav-link" data-toggle="tab" href="#users" role="tab">Users table</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" data-toggle="tab" href="#new" role="tab">New User</a>
        </li>
      </ul>
      <div class="tab-content">

        <div class="tab-pane fade show active" id="users" role="tabpanel">
          <h5 class="card-title">All users</h5>
          <!-- <table class="table table-striped"> -->
          <table class="table table-hover">
            <thead>
            <tr>
              <th>ID</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Age</th>
              <th>Email</th>
              <th>Roles</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each ="user : ${users}">
              <td th:text="${user.id}">ID</td>
              <td th:text="${user.name}">First Name</td>
              <td th:text="${user.secondName}">Last Name</td>
              <td th:text="${user.age}">Age</td>
              <td th:text="${user.email}">Email</td>
              <td>
                <th:block th:object="${user}">
                  <a th:each="item : *{roles}" th:text="${item.getNoPrefix()} + ' '">Item description here...</a>
                </th:block>
              </td>
              <td>
                <button type="button" class="btn btn-info" data-toggle="modal"
                        th:data-target="'#edit' + ${user.id}">
                  Edit
                </button>

                <div class="modal" th:id="'edit' + ${user.id}" tabindex="-1" role="dialog"
                     aria-labelledby="editModalLabel"
                     aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">

                      <div class="modal-header">
                        <h4 class="modal-title" id="editModalLabel">Edit user</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>

                      <div class="modal-body">
                        <form class="text-center"
                              th:action="@{/user-update/{id}(id=${user.id})}"
                              th:object="${user}" method="patch">
                          <div class="form-group">
                            <label for="id" class="col-form-label">
                              <p class="font-weight-bold">ID</p>
                            </label>
                            <input class="form-control"
                                   readonly
                                   type="number"
                                   id="id"
                                   th:placeholder="${user.id}"/>
                          </div>

                          <div class="form-group">
                            <label for="username" class="col-form-label">
                              <p class="font-weight-bold">First name</p>
                            </label>
                            <input class="form-control"
                                   type="text"
                                   id="username"
                                   th:placeholder="${user.username}"/>
                          </div>

                          <div class="form-group">
                            <label for="lastName" class="col-form-label">
                              <p class="font-weight-bold">Last name</p>
                            </label>
                            <input class="form-control"
                                   type="text"
                                   id="lastname"
                                   th:placeholder="${user.secondName}"/>
                          </div>

                          <div class="form-group">
                            <label for="age" class="col-form-label">
                              <p class="font-weight-bold">Age</p>
                            </label>
                            <input class="form-control"
                                   type="number"
                                   id="age"
                                   th:placeholder="${user.age}"/>
                          </div>

                          <div class="form-group">
                            <label for="email" class="col-form-label">
                              <p class="font-weight-bold">Email</p>
                            </label>
                            <input class="form-control"
                                   type="text"
                                   id="email"
                                th:placeholder="${user.email}"/>
                          </div>

                          <div class="form-group">
                            <label for="password" class="col-form-label">
                              <p class="font-weight-bold">Password</p>
                            </label>
                            <input class="form-control"
                                   type="text"
                                   id="password"
                                   th:placeholder="${user.password}"/>
                          </div>

                          <div class="form-group">
                            <label for="role"> <a class="font-weight-bold">Roles</a></label>
                            <select multiple class="form-control" id="role" name="role">
                              <option value="ROLE_ADMIN">ADMIN</option>
                              <option value="ROLE_USER">USER</option>
                            </select>
                          </div>

                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Edit</button>
                          </div>

                        </form>
                      </div>


                    </div>
                  </div>
                </div>
              </td>

              <td>
                <button type="button" class="btn btn-danger" data-toggle="modal"
                        th:data-target="'#delete' + ${user.id}">
                  Delete
                </button>

                <div class="modal" th:id="'delete' + ${user.id}" tabindex="-1" role="dialog"
                     aria-labelledby="deleteModalLabel"
                     aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">

                      <div class="modal-header">
                        <h4 class="modal-title" id="deleteModalLabel">Delete user</h4>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>

                      <div class="modal-body">

                        <form class="text-center"
                              th:action="@{/delete/{id}(id=${user.id})}"
                              th:object="${user}"
                              method="post">

                          <div class="form-group">
                            <label for="idde" class="col-form-label">
                              <p class="font-weight-bold">ID</p>
                            </label>
                            <input class="form-control"
                                   readonly
                                   type="number"
                                   id="idde"
                                   th:placeholder="${user.id}"/>
                          </div>

                          <div class="form-group">
                            <label for="usernamede" class="col-form-label">
                              <p class="font-weight-bold">First name</p>
                            </label>
                            <input class="form-control"
                                   type="text"
                                   id="usernamede"
                                   th:placeholder="${user.username}"/>
                          </div>

                          <div class="form-group">
                            <label for="lastNamede" class="col-form-label">
                              <p class="font-weight-bold">Last name</p>
                            </label>
                            <input class="form-control"
                                   type="text"
                                   id="lastNamede"
                                   th:placeholder="${user.secondName}"/>
                          </div>

                          <div class="form-group">
                            <label for="agede" class="col-form-label">
                              <p class="font-weight-bold">Age</p>
                            </label>
                            <input class="form-control"
                                   type="number"
                                   id="agede"
                                   th:placeholder="${user.age}"/>
                          </div>

                          <div class="form-group">
                            <label for="emailde" class="col-form-label">
                              <p class="font-weight-bold">Email</p>
                            </label>
                            <input class="form-control"
                                   type="text"
                                   id="emailde"
                                   th:placeholder="${user.email}"/>
                          </div>

                          <div class="form-group">
                            <label for="passwordde" class="col-form-label">
                              <p class="font-weight-bold">Password</p>
                            </label>
                            <input class="form-control"
                                   type="text"
                                   id="passwordde"
                                   th:placeholder="${user.password}"/>
                          </div>

                          <div class="font-weight-bold"><label class="mb-0" for="rolede">Role</label>
                          </div>
                          <div class="mb-4">
                            <select class="custom-select col-5 mx-sm-3" id="rolede">
                              <option value="ADMIN">ADMIN</option>
                              <option value="USER">USER</option>
                            </select>
                          </div>

                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn btn-danger">Delete</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="tab-pane fade" id="new" role="tabpanel">
          <h5 class="card-title">Add new user</h5>
          <div class="container" align="center">

            <div class="col-sm-4">
              <form action="#" th:action="@{admin/add}" th:object="${admin}" method="post">

                <div class="form-group">
                  <label for="id" class="col-form-label">
                    <p class="font-weight-bold">ID</p>
                  </label>
                  <input type="text" class="form-control" style="background-color: #F3F36F" id="id" name="id"/>
                </div>
                <div class="form-group">
                  <label for="username" class="col-form-label">
                    <p class="font-weight-bold">First name</p>
                  </label>
                  <input type="text" class="form-control" id="name" name="name"/>
                </div>

                <div class="form-group">
                  <label for="lastName" class="col-form-label">
                    <p class="font-weight-bold">Last name</p>
                  </label>
                  <input type="text" class="form-control" id="secondName" name="secondName" value="" />
                </div>

                <div class="form-group">
                  <label for="age" class="col-form-label">
                    <p class="font-weight-bold">Age</p>
                  </label>
                  <input type="text" class="form-control" id="age" name="age" value="" />
                </div>

                <div class="form-group">
                  <label for="email" class="col-form-label">
                    <p class="font-weight-bold">Email</p>
                  </label>
                  <input type="text" class="form-control" id="email" name="email" value="" />
                </div>

                <div class="form-group">
                  <label for="password" class="col-form-label">
                    <p class="font-weight-bold">Password</p>
                  </label>
                  <input type="text" class="form-control" id="password" name="password" value="" />
                </div>

                <div class="form-group">
                  <label for="role"> <a class="font-weight-bold">Roles</a></label>
                  <select multiple class="form-control" id="role" name="role">
                    <option value="ROLE_ADMIN">ADMIN</option>
                    <option value="ROLE_USER">USER</option>
                  </select>
                </div>
                <button class="btn btn-success addBtn">Add new user</button>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>



<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/main.js}" src="../static/main.js"></script>
-->

<!--Option 2: jQuery, Popper.js, and Bootstrap JS-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
<script th:src="@{/main.js}"></script>


</body>
</html>
