<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>User Addition Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Введите данные пользователя</h1>
<form action="#" th:action="@{/add}" th:object="${user}" method="post">

    <p>Username: <input type="text" th:field="*{username}" /></p>
    <p>Password: <input type="text" th:field="*{password}" /></p>
    <p>First Name: <input type="text" th:field="*{name}" /></p>
    <p>Second Name: <input type="text" th:field="*{secondName}" /></p>
    <p>Age: <input type="text" th:field="*{age}" /></p>
    <p>
        Roles:
        <input type="checkbox" name="roleList"
               th:each="rol : ${roleList}"
               th:text="${rol.getNoPrefix()}"
               th:value="${rol.role}"
               th:field="*{roles}"
    </p>


    <p><input type="submit" value="Записать" /> <input type="reset" value="Очистить" /></p>



</form>
<br/><br/>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Log Out"/>
</form>
</body>
</html>