<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>User Deletion Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Подтвердите удаление пользователя</h1>
    <form th:method="DELETE" th:action="@{/user-delete}" th:object="${user}">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="name">Username</label>
    <input type="text" th:field="*{username}" id="username" placeholder="First Name">
    <br/>
    <label for="name">First Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="First Name">
    <br/>
    <br/>
    <label for="lastName">Second Name</label>
    <input type="text" th:field="*{secondName}" id="lastName" placeholder="Second Name">
    <br/>
    <br/>
    <label for="age">Age</label>
    <input type="text" th:field="*{age}" id="age" placeholder="Age">
    <br/>
    <br/>
    <input type="submit" value="Удалить" />
</form>
<br/><br/>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</body>
</html>