<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>User Edition Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Введите новые данные пользователя</h1>
    <form th:method="PATCH" th:action="@{/user-update}" th:object="${user}">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <br/>
    <label for="name">Username: </label>
    <input type="text" th:field="*{username}" id="username" placeholder="Username">
    <br/>
    <br/>
    <label for="name">Password: </label>
    <input type="text" th:field="*{password}" id="password" placeholder="Password">
    <br/>
    <br/>
    <label for="name">First Name: </label>
    <input type="text" th:field="*{name}" id="name" placeholder="First Name">
    <br/>
    <br/>
    <label for="lastName">Second Name: </label>
    <input type="text" th:field="*{secondName}" id="lastName" placeholder="Second Name">
    <br/>
    <br/>
    <label for="age">Age: </label>
    <input type="text" th:field="*{age}" id="age" placeholder="Age">
    <br/>
    <br/>
        <th:block th:each="msg : ${user.getRoles()}">
            <li th:text="${msg.getNoPrefix()}"></li>
        </th:block>
        <p>
            <label>New Roles:
                <input type="checkbox" name="roleList"
                       th:each="rol : ${roleList}"
                       th:text="${rol.getNoPrefix()}"
                       th:value="${rol.role}"
                       th:field="*{roles}"
                />
            </label>
        </p>

    <input type="submit" value="Изменить" />
</form>
<br/><br/>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Log Out"/>
</form>
</body>
</html>