<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Добро пожаловать на страницу пользователя!</h1>

<div>
    <th:block>
        <h2 th:text="'Ваш Username: ' + ${messages.getUsername()}"></h2>
        <h2 th:text="'Ваш First name: ' + ${messages.getName()}"></h2>
        <h2 th:text="'Ваш Second name: ' + ${messages.getSecondName()}"></h2>
        <h2 th:text="'Ваш Age: ' + ${messages.getAge()}"></h2>
        <th:block
                th:each="msg : ${messages.getRoles()}">
            <h2 th:text="${msg}"></h2>
        </th:block>
    </th:block>
</div>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

</body>
</html>